body{
  font-family: 'Montserrat', sans-serif;
  /* It has lowest specificity */
}

section {
  background: #ffe344;
}

.section-title {
  color: blue;
}

h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}
